.body{
    background-color: #faf5f5;
    margin: 0%;
    padding: 0%;
}
.pwr{
    text-align: center;
    display: inline-block;
    background-color: #f5a0a0;
    padding: 30px;
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 25px;

}
.inpt1{
    height: 25px;
    border-radius: 5px;
    border-style: solid;
}
.inpt2{
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    width: 111px;
    
}
.btn{
    background-color:darkcyan;
    padding: 5px;
    border-radius: 20%;
    border-style: none;

}
